*{
	margin:0;
	padding:0;
}

ul { margin: 0px; padding-top: 0px; padding-left: 15px; }
li { margin: 0px; text-indent: 2px; padding: 2px; }

.sidebar h2 { margin: 0px; background-image: url(images/sidebar.png); width: 186px; height: 21px; padding-left: 0px; padding-top: 6px; color: #fefefe; font-weight: bold; font-size: 13px; text-align: center;}

.sidebar #linkcat-1 { list-style: none; padding: 0px; left: 0px; margin: 0px; }
.sidebar #linkcat-2 { list-style: none; padding: 0px; left: 0px; margin: 0px; }
.sidebar #linkcat-3 { list-style: none; padding: 0px; left: 0px; margin: 0px; }
.sidebar #linkcat-4 { list-style: none; padding: 0px; left: 0px; margin: 0px; }


.sidebar a:link { color: #005522; text-decoration: none; }
.sidebar a:hover { color: #005522; text-decoration:none; }
.sidebar a:visited { color: #005522; text-decoration: none; }
.sidebar a:active { color: #005522; text-decoration: none; }


body {
margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
background-image:url(images/background.jpg);
background-attachment: fixed;
background-color: #CCCCCC;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; 
text-align: center;
min-width: 790px;
min-height: 100%;
padding: 0px;
}

.posttitle { color: #000000; padding-top: 0px; padding-bottom: 3px; margin: 0px; font-size: 18px; font-family: verdana; }

#bannertitle a { color: #229922; }

a:link.footerlink { color: #ffffff; text-decoration: none; }
a:hover.footerlink { color: #ffffff; text-decoration: none; }
a:visited.footerlink { color: #ffffff; text-decoration: none; }
a:active.footerlink { color: #ffffff; text-decoration: none; }

.postfooter {
/*background-color:#EAEAEA; color: #000000; padding: 5px;*/
background-color:#000000; color: #000000; padding: 0px;
}

.entry a:link { color: #33A02C; text-decoration: none; }
.entry a:hover { color: #42BC39; text-decoration: none; }
.entry a:visited { color: #33A02C; text-decoration: none; }
.entry a:active { color: #33A02C; text-decoration: none; }

.entrytext a:link { color: #33A02C; text-decoration: none; }
.entrytext a:hover { color: #42BC39; text-decoration: none; }
.entrytext a:visited { color: #33A02C; text-decoration: none; }
.entrytext a:active { color: #33A02C; text-decoration: none; }

/*
a:link { color: #1FAA3C; text-decoration: none; }
a:hover { color: #1FAA3C; text-decoration: none; }
a:visited { color: #1FAA3C; text-decoration: none; }
a:active { color: #1FAA3C; text-decoration: none; }
*/

a:link { color: #005522; text-decoration: none; }
a:hover { color: #005522; text-decoration:none; }
a:visited { color: #005522; text-decoration: none; }
a:active { color: #005522; text-decoration: none; }


#mainbody {
	width: 790px;
	min-height: 100%;
	min-width: 790px;	
	margin: 0 auto;
	padding: 0px;
	text-align:center;
	background-image: url(images/mainbg_2.jpg);
}

#banner {
background-image:url("images/banner.jpg");
background-repeat:repeat-x;
width: 790px;
height: 124px;
min-width: 790px;
}

#maincontent { padding-left: 10px; padding-right: 10px; }

#bannertitle{
	height: 104px;
	position: absolute;
	text-align: left;
	top: 25px;
	width: 790px;
}

#bannertitle #bannerGoverno{
	position:relative;
	width:269px;
	height:95px;
	left:30px;
}

#bannertitle #flash{
	position: absolute;
	height: 101px;
	left: 320px;
	margin: 1px 0;
	top: 0;
	width: 301px;
}

#bannertitle #bannerImg{
	height: 81px;
	left: 655px;
	margin: 10px 0;
	position: absolute;
	top: 0;
	width: 76px;
}

#bannertitle h1 { padding: 0px; margin: 0px; padding-top: 10px; }

.sidebar { float: left; width: 230px; padding-left: 10px; text-align: left;}
.sidebar li {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#005522;
}
.sidebarlinks { background-image: url(images/sidebar.png); width: 186px; height: 21px; padding-top: 6px; color: #fefefe; font-weight: bold; font-size: 13px; text-align: center;}

#polls-1{
	width:80%;
	height:80%;
}

ul { list-style-image: url(images/bullet.gif); }

.content { width: 520px; float: right; color: #333333; text-align: left; padding-bottom: 20px; }
.postdate { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color:#AB7017; }

#footer {
	clear: both;
	font-family: verdana;
	font-size: 11px;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 790px; height: 35px;
	/*width: 790px; height: 50px;*/
	color:#226622;
	font-weight:bold;
	background-image:url(images/footer_3.jpg);
}
/* MENU HEAD*/
#menu_head{
	position:relative;
	width: 100%;
	height: 40px;
/*	background:#060 url('images/menu_bgL.jpg') repeat-x;*/
	background:#060;
}

#menu_head ul {
	position:absolute;
	top: 4px;
	/*left: 0px;*/
	right:20px;
	height: 34px;
	width: 650px;
	overflow:hidden;
	margin:0px;
	padding:0px;
	text-transform: uppercase;
	
	
}
#menu_head ul li {
	display: inline;
	font-size: 10px;
	font-family:Verdana,Arial;
	font-weight: bold;
	color:#000000;
}
#menu_head ul li.separator {
	display: block;
	float: left;
	width:6px;
	height: 34px;
	/*background:url(images/menu_separate3.jpg) no-repeat center;*/
}

#menu_head ul li a {
	display: block;
	float: left;
	line-height: 34px;
	/*color: #AA7700;*/
	color: #B98300;
	color: #FFF;
	/*padding: 0px 10px 0px 10px;*/
	padding: 0px 5px 0px 5px;
	margin:0px 0 0 0;
	text-decoration:none;
}

#menu_head ul li a:hover, #menu_head ul li.current_page_item a {
	color:#FF2;
}

/********* LOGIN GERALEARNING ***********/
#menu_login{ width:170px; padding-left:18px;}

#menu_login h2 {
	margin-left:-17px;
}

input{
	border:none;
	background:none;
	margin-top:0px;
	color:#060;
}

#login, #pass, #card{
	border:none;
	background:none;
	margin-top:0px;
	color:#060;
}
#submit2 .but{ background-color:#F00;}
	
#line_menu{
	width:100%;
	height:1px;
	border-bottom: solid 1px #494;
}

.but{
	/*background-image:url(images/BT_ok_NORMAL.jpg);*/
	
	width:40px;
	height:17px;
	padding: 0 0 3px 0; /* U-L-D-R */
	margin:0px;
	border:#080 solid 1px;
	border-bottom:#060 solid 1px;
	border-right:#060 solid 1px;
	background:#292;

	font-family: Verdana;
	font-style:normal;
	font-size:12px;
	font-weight:bolder;
	color:#EEE;
}
.but:hover{
	/*background-image:url(images/BT_ok_OVER.jpg);*/
	border:#2A2 solid 1px;
	border-bottom:#282 solid 1px;
	border-right:#282 solid 1px;
	background:#4B4;	
	color:#EEF;
	cursor:pointer;	

}
	
.tit_menu{
	background-image: url("images/sidebar.png");
	width: 170px;
	height: 21px;
	padding-top: 3px;
	padding-right: 47px;
	padding-left: 47px;	
	color: #fefefe;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
}
.text_menu{
	position:relative;
	top:7px !important;
	font-family: Verdana;
	font-style:normal;
	font-size:10px;
	font-weight:bolder;
	color:#262;
}

.box_menu_label{
	border-top:solid #494 1px;
	border-left:solid #494 1px;
	border-bottom:solid #494 1px;
	border-right:none;
	
	font-family: Verdana;
	font-style:normal;
	font-size:10px;
	font-weight:bolder;
	background:#FFF;
	color:#060;
	
	text-indent:2px;
}

.box_menu_form{
	border-top:solid #494 1px;
	border-left:none;
	border-bottom:solid #494 1px;
	border-right:solid #494 1px;
	background:#FFF;		
}

#pos_but_menu{
	width:155px;
	text-align:right;		
}

table {
	border-color: #006600;
}

table thead {
	text-align: center;
	background-color: #bad576;
	font-weight: bold;
	color: #226622;
}

table tbody {
	text-align: center;
}

#bannerImg{
	position:relative;
	left:970px;
	top:90px;
}
